* {
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

body div {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    align-items: center;
}

body div h1 {
    color: #434343;
    text-align: center;
}

.quiz-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}